.card {
  /* width: -webkit-fill-available; */
  max-width: 600px;
  max-height: 300px;
  margin: 20px auto;
  border-radius: 15px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  padding: 20px;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  && button {
    width: fit-content;
  }
}

.column {
  flex: 1;
  padding: 10px;
}

.verticalDivider {
  margin: 0 10px;
}

.divider {
  margin: 10px 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}

.interestedButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.paginition {
  display: flex;
  /* width: fit-content; */
  align-items: center;
justify-content: center;
  && button {
    border-radius: 8px;
    width: fit-content;
    border: 1px solid transparent;
    margin: 5px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #9c27b0;
    cursor: pointer;
    transition: border-color 0.25s;
  }

}

.pagenumber{
  color: #fff;
  border-radius: 8px;
    background-color: #9c27b0;
    padding: 15px;
    margin: 5px;
}